<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat">
		<td colspan="3"><?php echo $template["L_CALENDAR"]; ?></td>
	</tr>
	<tr class="thead">
		<td align="center"><a href="calendar.php?act=week"><?php echo $template["L_WEEKLY"]; ?></a></td>
		<td align="center"><a href="calendar.php"><?php echo $template["L_MONTHLY"]; ?></a></td>
		<td align="center"><a href="calendar.php?act=year" style="text-decoration:underline;"><?php echo $template["L_YEARLY"]; ?></a></td>
	</tr>
</table>
</div>
<br />
<?php echo $template["yearly_table"]; ?>