<form action="member.php?act=email_user&user=<?php echo $template["id"]; ?>" method="post" name="post" enctype="multipart/form-data" onSubmit="return checkForm(this);" onReset="Reset(this);ResetAttach(this);">
<div id="form_errors" style="display:none;"> </div>
<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat">
		<td><?php echo $template["L_EMAILUSER"]; ?></td>
	</tr>
	<tr class="thead">
		<td><?php echo $template["L_USER"]; ?>: <?php echo $template["username"]; ?></td>
	</tr>
	<tr class="panel">
		<td>
			<fieldset>
				<legend><?php echo $template["L_SUBJECT"]; ?></legend>
				<input type="text" name="subject" id="<?php echo $template["L_SUBJECT"]; ?>" value="" size="80" check="true" />
			</fieldset>
		</td>
	</tr>
	<tr class="panel">
		<td>
			<fieldset>
				<legend><?php echo $template["L_MESSAGE"]; ?></legend>
				<textarea name="message" id="<?php echo $template["L_MESSAGE"]; ?>" rows="10" style="width:95%;" check="true"><?php echo $template["null"]; ?></textarea>
			</fieldset>
		</td>
	</tr>
	<tr class="thead">
		<td align="left"><input type="submit" class="button" value="<?php echo $template["L_SAVE"]; ?>" /><input type="reset" class="button" value="<?php echo $template["L_RESET"]; ?>" /></td>
	</tr>
</table>
</div>
</form>