<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat">
		<td><?php echo $template["L_FAQ"]; ?></td>
	</tr>
	<tr class="panel">
		<td>
			<div class="outset_box">
				<?php if ($template->all_faq != NULL): ?>
				<?php $all_faq = new CachingIterator(get_iterator($template->all_faq));  foreach($all_faq as $obj0):  $template->Push($obj0); ?>
					<a href="#t<?php echo $template["id"]; ?>"><strong><?php echo $template["name"]; ?></strong></a><br />
					<?php if ($template->all_faq && method_exists($template->all_faq, 'GetChildren') && $template->obj1 = $template->all_faq->GetChildren()): ?>
					<?php $obj1 = new CachingIterator(get_iterator($template->obj1));  foreach($obj1 as $obj2):  $template->Push($obj2); ?>
					     <a href="#<?php echo $template["id"]; ?>"><?php echo $template["question"]; ?></a>
					<?php if ($obj1->HasNext()): ?><br /><?php endif; ?>
					<?php $template->Pop();  endforeach; ?>
					<?php endif; ?>
					<?php if ($all_faq->HasNext()): ?><br /><br /><?php endif; ?>
				<?php $template->Pop();  endforeach; ?>
				<?php endif; ?>
			</div>
		</td>
	</tr>
</table>
</div>
<br />
<?php if ($template->all_faq != NULL): ?>
<?php $all_faq = new CachingIterator(get_iterator($template->all_faq));  foreach($all_faq as $obj5):  $template->Push($obj5); ?>
<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat">
		<td><?php echo $template["name"]; ?><a name="t<?php echo $template["id"]; ?>" id="t<?php echo $template["id"]; ?>"> </a></td>
	</tr>
	<?php if ($template->all_faq && method_exists($template->all_faq, 'GetChildren') && $template->obj6 = $template->all_faq->GetChildren()): ?>
	<?php $obj6 = new CachingIterator(get_iterator($template->obj6));  foreach($obj6 as $obj7):  $template->Push($obj7); ?>
	<tr class="thead">
		<td><?php echo $template["question"]; ?><a name="<?php echo $template["id"]; ?>" id="<?php echo $template["id"]; ?>"> </a></td>
	</tr>
	<tr class="panel">
		<td><?php echo $template["answer"]; ?><br /><a href="#top"><?php echo $template["L_TOP"]; ?></a></td>
	</tr>
	<?php $template->Pop();  endforeach; ?>
	<?php endif; ?>
</table>
</div>
<?php if ($all_faq->HasNext()): ?><br /><?php endif; ?>
<?php $template->Pop();  endforeach; ?>
<?php endif; ?>