<div id="form_errors" style="">
	<?php if ($template->form_errors != NULL): ?>
		<ul>
			<?php $form_errors = new CachingIterator(get_iterator($template->form_errors));  foreach($form_errors as $obj0):  $template->Push($obj0); ?>
				<li><?php echo $template["message"]; ?></li>
			<?php $template->Pop();  endforeach; ?>
		</ul>
	<?php endif; ?>
</div>
<div class="forum_content">
<form action="<?php echo $template["a_login"]; ?>" enctype="multipart/form-data" method="post" id="login_form" onSubmit="return checkForm(this);" onReset="return Reset(this);">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat">
		<td colspan="2" align="left"><strong><?php echo $template["L_LOGIN"]; ?></strong></td>
	</tr>
	<tr class="panel">
		<td width="50%" align="left"><label for="name"><?php echo $template["L_USERNAME"]; ?></label></td>
		<td width="50%" align="left"><input type="text" name="name" id="username" class="inputbox" maxlength="16" value="" onKeyPress="changeBack(this)" check="true" /></td>
	</tr>
	<tr class="panel">
		<td width="50%" align="left"><label for="pass"><?php echo $template["L_PASSWORD"]; ?></label></td>
		<td width="50%" align="left"><input type="password" name="pass" id="password" class="inputbox" maxlength="16" value="" onKeyPress="changeBack(this)" check="true" /></td>
	</tr>
	<tr class="thead">
		<td width="50%" align="left"><input type="submit" class="button" value="<?php echo $template["L_LOGIN"]; ?>" /><input type="reset" class="button" value="<?php echo $template["L_RESET"]; ?>" /></td>
		<td width="50%" align="left"><input type="checkbox" class="button" name="rememberme" id="rememberme" checked="checked" /><label for="rememberme"> <?php echo $template["L_REMEMBERME"]; ?></label></td>
	</tr>
	<tr class="panel">
		<td colspan="2" align="center" style="padding: 3px 0px 0px 0px; ">
			<a href="member.php?act=forgotpw"><?php echo $template["L_FORGOTPW"]; ?></a>
			<h4><a href="member.php?act=register" class=""><?php echo $template["L_REGISTER"]; ?></a></h4>
		</td>
	</tr>
</table>
</form>
</div>