<form action="<?php echo $template["a_add_reply"]; ?>" method="post" name="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="return Reset(this);">
<div id="form_errors" style=""> </div>
<script language="JavaScript" type="text/javascript">
//

u_enter_url				= "<?php echo $template["L_ENTERURL"]; ?>";
u_enter_pagetitle		= "<?php echo $template["L_ENTERPAGETITLE"]; ?>";
s_webpage_title			= "<?php echo $template["L_PAGETITLE"]; ?>";
u_error_enter_url		= " <?php echo $template["L_ERRORENTERURL"]; ?>";
s_found_errors			= " <?php echo $template["L_ERRORENTERTITLE"]; ?>";
s_error					= "<?php echo $template["L_ERROR"]; ?>";
u_error_img				= "<?php echo $template["L_ENTERIMG"]; ?>";
u_error_enter_img		= " <?php echo $template["L_ERRORENTERIMG"]; ?>";

b_help = "<?php echo $template["L_BBCODE_B_HELP"]; ?>"; // Bold
i_help = "<?php echo $template["L_BBCODE_I_HELP"]; ?>"; // Italic
u_help = "<?php echo $template["L_BBCODE_U_HELP"]; ?>"; // Underline
q_help = "<?php echo $template["L_BBCODE_Q_HELP"]; ?>"; // Quote
c_help = "<?php echo $template["L_BBCODE_C_HELP"]; ?>"; // Code
l_help = "<?php echo $template["L_BBCODE_L_HELP"]; ?>"; // List
o_help = "<?php echo $template["L_BBCODE_O_HELP"]; ?>"; // Ordered List
p_help = "<?php echo $template["L_BBCODE_P_HELP"]; ?>"; // Image
w_help = "<?php echo $template["L_BBCODE_W_HELP"]; ?>"; // URL
a_help = "<?php echo $template["L_BBCODE_A_HELP"]; ?>"; // Close all tags
s_help = "<?php echo $template["L_BBCODE_S_HELP"]; ?>"; // Color
f_help = "<?php echo $template["L_BBCODE_F_HELP"]; ?>"; // Font Size
n_help = "<?php echo $template["L_BBCODE_N_HELP"]; ?>"; // Font
//
</script>
<input type="hidden" name="replyto_id" value="<?php echo $template["replyto_id"]; ?>" />
<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="tcat" colspan="2">
		<td colspan="2"><?php echo $template["L_POSTREPLY"]; ?></td>
	</tr>
	<tr class="thead">
		<td colspan="2">
			<?php echo $template["L_LOGGEDAS"]; ?>: <strong><?php echo $template["user_name"]; ?></strong>
		</td>
	</tr>
	<tr class="thead">
		<td colspan="2">
			<?php echo $template["L_REPLYTO"]; ?>: <strong><?php echo $template["post_name"]; ?></strong>
		</td>
	</tr>
	<tr class="panel">
		<td colspan="2">
			<fieldset style="float:left; width:95%;">
				<legend><label for="<?php echo $template["L_POSTTITLE"]; ?>"><?php echo $template["L_POSTTITLE"]; ?> (<?php echo $template["L_OPTIONAL"]; ?>)</label></legend>
				<input type="text" name="title" id="<?php echo $template["L_POSTTITLE"]; ?>" value="<?php echo $template["posttitle"]; ?>" size="90" class="inputbox" maxlength="255" onKeyPress="changeBack(this)" />
			</fieldset>
		</td>
	</tr>
	<tr class="panel">
		<td colspan="2">
			<fieldset style="float:left; width:80%;">
				<legend><label for="<?php echo $template["L_POST"]; ?>"><?php echo $template["L_POST"]; ?></label></legend>
					<?php if (!isset($template->bbcode['hide']) || !$template->bbcode['hide']):  $template->Push($template->bbcode); ?>
					<input type="button" class="button" accesskey="b" name="addbbcode0" value=" B " style="font-weight:bold; width: 30px" onClick="bbstyle(0)" onMouseOver="helpline('b')" />
					<input type="button" class="button" accesskey="i" name="addbbcode2" value=" i " style="font-style:italic; width: 30px" onClick="bbstyle(2)" onMouseOver="helpline('i')" />
					<input type="button" class="button" accesskey="u" name="addbbcode4" value=" u " style="text-decoration: underline; width: 30px" onClick="bbstyle(4)" onMouseOver="helpline('u')" />
					<input type="button" class="button" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px" onClick="bbstyle(6)" onMouseOver="helpline('q')" />
					<input type="button" class="button" accesskey="c" name="addbbcode8" value="Code" style="width: 40px" onClick="bbstyle(8)" onMouseOver="helpline('c')" />
					<input type="button" class="button" name="img" value="IMG" style="width: 40px" onClick="BBCimg()" onMouseOver="helpline('p')" />
					<input type="button" class="button" name="url" value="URL" style="text-decoration: underline; width: 40px" onClick="BBCurl()" onMouseOver="helpline('w')" />
					<br />
					<select name="addbbcode18" onchange="bbfontstyle('[color=' + this.form.addbbcode18.options[this.form.addbbcode18.selectedIndex].value + ']', '[/color]');this.selectedIndex=0;" onMouseOver="helpline('s')">
						<option style="color:black;" value="black" class="genmed"><?php echo $template["L_FONT_COLOR"]; ?></option>
						<option value="skyblue" style="color:skyblue"><?php echo $template["L_SKYBLUE"]; ?></option>
						<option value="royalblue" style="color:royalblue"><?php echo $template["L_ROYALBLUE"]; ?></option>
						<option value="blue" style="color:blue"><?php echo $template["L_BLUE"]; ?></option>
						<option value="darkblue" style="color:darkblue"><?php echo $template["L_DARKBLUE"]; ?></option>
						<option value="orange" style="color:orange"><?php echo $template["L_ORANGE"]; ?></option>
						<option value="orangered" style="color:orangered"><?php echo $template["L_ORANGERED"]; ?></option>
						<option value="crimson" style="color:crimson"><?php echo $template["L_CRIMSON"]; ?></option>
						<option value="red" style="color:red"><?php echo $template["L_RED"]; ?></option>
						<option value="firebrick" style="color:firebrick"><?php echo $template["L_FIREBRICK"]; ?></option>
						<option value="darkred" style="color:darkred"><?php echo $template["L_DARKRED"]; ?></option>
						<option value="green" style="color:green"><?php echo $template["L_GREEN"]; ?></option>
						<option value="limegreen" style="color:limegreen"><?php echo $template["L_LIMEGREEN"]; ?></option>
						<option value="seagreen" style="color:seagreen"><?php echo $template["L_SEAGREEN"]; ?></option>
						<option value="deeppink" style="color:deeppink"><?php echo $template["L_DEEPPINK"]; ?></option>
						<option value="tomato" style="color:tomato"><?php echo $template["L_TOMATO"]; ?></option>
						<option value="coral" style="color:coral"><?php echo $template["L_CORAL"]; ?></option>
						<option value="purple" style="color:purple"><?php echo $template["L_PURPLE"]; ?></option>
						<option value="indigo" style="color:indigo"><?php echo $template["L_INDIGO"]; ?></option>
						<option value="burlywood" style="color:burlywood"><?php echo $template["L_BURLYWOOD"]; ?></option>
						<option value="sandybrown" style="color:sandybrown"><?php echo $template["L_SANDYBROWN"]; ?></option>
						<option value="sienna" style="color:sienna"><?php echo $template["L_SIENNA"]; ?></option>
						<option value="chocolate" style="color:chocolate"><?php echo $template["L_CHOCOLATE"]; ?></option>
						<option value="teal" style="color:teal"><?php echo $template["L_TEAL"]; ?></option>
						<option value="silver" style="color:silver"><?php echo $template["L_SILVER"]; ?></option>
					</select>
					<select name="addbbcode20" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]')" onMouseOver="helpline('f')">
						<option><?php echo $template["L_FONT_SIZE"]; ?></option>
						<option value="12" class="genmed"><?php echo $template["L_FONT_NORMAL"]; ?></option>
						<option value="7" class="genmed"><?php echo $template["L_FONT_TINY"]; ?></option>
						<option value="9" class="genmed"><?php echo $template["L_FONT_SMALL"]; ?></option>
						<option value="18" class="genmed"><?php echo $template["L_FONT_LARGE"]; ?></option>
						<option value="24" class="genmed"><?php echo $template["L_FONT_HUGE"]; ?></option>
					</select>
					<a href="javascript:bbstyle(-1)" onmouseover="helpline('a')"><?php echo $template["L_BBCODE_CLOSE_TAGS"]; ?></a>
				<br />
				<input type="text" name="helpbox" size="45" maxlength="100" style="width:450px; font-size:10px" class="helpline" value="<?php echo $template["L_STYLES_TIP"]; ?>" readonly="readonly" />
				<br />
				<?php $template->Pop();  endif; ?>
				<textarea name="message" id="<?php echo $template["L_POST"]; ?>" class="inputbox" rows="10" cols="100" style="width:100%;" onKeyPress="changeBack(this)" onSelect="storeCaret(this);" onClick="storeCaret(this);" onKeyup="storeCaret(this);" check="true"><?php echo $template["body_text"]; ?></textarea>
			</fieldset>
			<?php if (!isset($template->smilies['hide']) || !$template->smilies['hide']):  $template->Push($template->smilies); ?>
			<fieldset style="float:right;">
				<legend><?php echo $template["L_EMOTICONS"]; ?></legend>
				<table cellpadding="3" cellspacing="1" border="0" id="posticons" width="100%">
					<tr class="panel">
						<?php if ($template->emoticons != NULL): ?>
						<?php $emoticons = new CachingIterator(get_iterator($template->emoticons));  foreach($emoticons as $obj0):  $template->Push($obj0); ?>
						<?php switch($emoticons->key() % 4):  case 0: $template->Push(array('row' => ' ')); break;  case 1: $template->Push(array('row' => ' ')); break;  case 2: $template->Push(array('row' => '')); break;  case 3: $template->Push(array('row' => '</tr><tr class=\'panel\'>')); break;  default: $template->Push(array());  endswitch; ?>
						<td align="center">
							<a href="javascript:emoticon('<?php echo $template["typed"]; ?>')"><img src="Images/<?php echo $template["IMG_DIR"]; ?>/Icons/Emoticons/<?php echo $template["image"]; ?>" alt="<?php echo $template["description"]; ?>" title="<?php echo $template["description"]; ?>" border="0" /></a>
						</td>
						<?php echo $template["row"]; ?>
						<?php $template->Pop(); ?>
						<?php $template->Pop();  endforeach; ?>
						<?php endif; ?>
					</tr>	
				</table>
			</fieldset>
			<?php $template->Pop();  endif; ?>
		</td>
	</tr>
	<tr class="thead">
		<td align="left" colspan="2">
			<input type="submit" class="button" value="<?php echo $template["L_SAVE"]; ?>" accesskey="s" /> <input type="reset" class="button" value="<?php echo $template["L_RESET"]; ?>" />
		</td>
	</tr>
</table>
</div>
</form>