<!-- Benchmarking -->
<div align="center">
	<span style="width:450px;color:#666666;border-top:1px dashed #666666;padding-top:2px;margin:4px;" class="smalltext">
		[ <a href="http://www.k4forums.com" title="k4 BB Home Page" target="_blank">Powered By: k4 v.{$VERSION}</a> ]
		[ Load time: {$load_time} ]
		[ Num Queries: {$num_queries} ]
		<core:block id="sql_debug" hidden="yes">
		[ <a href="{$debug_url}">Debug</a> ]
		</core:block>
		<br />
		{$copyrighttext}
	</span>
	<br />
</div>
<!-- / Benchmarking -->