<!-- Footer Breadcrumbs Bit -->
<table cellpadding="0" cellspacing="1" border="0" width="100%">
	<tr>
		<td width="100%">
			<div align="left">
				<img src="Images/{$IMG_DIR}/Icons/navbits_start.gif" alt="{$bbtitle}" />&nbsp;<a href="index.php" title="{$bbtitle}"><strong>{$bbtitle}</strong></a>
				<list:list id="breadcrumbs">
				<list:item list="breadcrumbs">
				&gt; <a href="{$location}" title="{$name}"><strong>{$name}</strong></a>
				</list:item>
				</list:list>
				&gt;&nbsp;<strong>{$current_location}</strong>
			</div>
		</td>
	</tr>
</table>
<!-- / Footer Breadcrumbs Bit -->