<maps:if var="can_see_WO" method="can_view">
<!-- General Forum Information -->
<br />
<table width="100%" border="0" cellpadding="0" cellspacing="1" class="forum_content">
	<tr class="thead">
		<td colspan="2">{$L_WHATSGOINGON}</td>
	</tr>
	<tr class="panel">
		<td rowspan="2" width="5%" align="center" valign="middle">
			<img src="Images/{$IMG_DIR}/Icons/forum_stats.gif" alt="{$L_WHATSGOINGON}" />
		</td>
		<td>
			<div class="minitext" align="left">
			{$newest_member}
			<br />
			{$total_posts}
			<br />
			{$total_users}
			<br />
			{$most_users_ever}
			<br />
			{$online_stats}&nbsp;&nbsp;&nbsp;&nbsp;[&nbsp;<span style="color:#FFA34F">{$L_ADMINISTRATOR}</span>&nbsp;]&nbsp;&nbsp;[&nbsp;<span style="color:#006600">{$L_MODERATOR}</span>&nbsp;]
			<br />
			<if:if var="num_online_members" greater="0">
			<list:list id="online_users">
				{$L_REGISTEREDUSERS}:
				<list:item list="online_users">
				<if:if var="invisible" eq="0">
					<a href="member.php?id={$id}" style="text-decoration: underline;" class="minitext">{$name}</a>
					<list:separator list="online_users">,&nbsp;</list:separator>
				</if:if>
				</list:item>
			</list:list>
			</if:if>
			</div>
		</td>
	</tr>
</table>
<!-- / General Forum Information -->
</maps:if>