<if:if var="forum_forum_rules" noteq="">
<!-- Forum Rules -->
<div class="forumrules">
<strong style="color:#FF0000;">{$L_FORUMRULES}:</strong>
<br /><br />
{$forum_forum_rules}
</div>
<!-- / Forum Rules -->
<br />
</if:if>

<!-- Topics List of '{$current_location}' -->
<page:navigator id="topics_pager">
<div style="float: right;">
	<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
		<tr>
			<td><span class="smalltext">{$L_PAGE}</span></td>
			<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
			<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
			<page:list id="topics_pager" before="3" after="3">
			<list:item list="topics_pager">
				<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
			</list:item>
			</page:list>
			<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
			<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
		</tr>
	</table>
</div>
</page:navigator>
<div align="left">
	<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
	<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}&amp;poll=1" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_poll.gif" alt="{$L_POSTPOLL}" /></a></maps:if>
</div>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="7" align="left">
			{$L_TOPICSINFORUM}: <span style="font-weight: normal;">{$name}</span>
		</td>
	</tr>
	<tr class="tcat">
		<td width="5%" colspan="2">&nbsp;</td>
		<td align="center" class="minitext" width="50%"><a href="viewforum.php?id={$forum_id}&amp;sort=name&amp;order={$order}" title="{$L_TOPICS}">{$L_TOPICS}{$name_sort}</a></td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=poster_name&amp;order={$order}" title="{$L_AUTHOR}">{$L_AUTHOR}{$poster_name_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=num_replies&amp;order={$order}" title="{$L_REPLIES}">{$L_REPLIES}{$num_replies_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=views&amp;order={$order}" title="{$L_VIEWS}">{$L_VIEWS}{$views_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap" width="30%">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=last_reply&amp;order={$order}" title="{$L_LASTPOST}">{$L_LASTPOST}{$last_reply_sort}</a>&nbsp;</td>
	</tr>
	<list:list id="topics">
	<list:default list="topics">
	<tr class="alt1">
		<td colspan="7">
			<div align="center" class="outset_box">
				<br />
				{$topics_message}
				<br /><br />
			</div>
		</td>
	</tr>
	</list:default>
	<list:item list="topics">
	<tr class="panel">
		<td><img src="{$topicicon}" alt="" border="0" /></td>
		<td><img src="tmp/upload/posticons/{$posticon}" alt="" border="0" /></td>
		<td width="50%"><a href="viewtopic.php?id={$id}" title="{$name}">{$name}</a>{$pages}{$rating}</td>
		<td align="center" class="alt2"><a href="member.php?id={$poster_id}" title="{$poster_name}"><strong>{$poster_name}</strong></a></td>
		<td align="center" class="alt1">{$num_replies}</td>
		<td align="center" class="alt1">{$views}</td>
		<td align="center" class="alt2" nowrap="nowrap" width="30%">
			<if:if var="reply_time" greater="0">
			<span class="minitext">
				<core:date format="%b %d %y">{$reply_time}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$reply_time}</core:date></span>
				<br />
				{$L_BY}&nbsp;<a href="member.php?id={$reply_uid}" style="text-decoration: underline;" title="{$reply_uname}">{$reply_uname}</a>
				<a href="findpost.php?id={$id}" title="{$reply_name}"><img src="Images/{$IMG_DIR}/Icons/icon_latest_reply.gif" border="0" alt="{$reply_name}" /></a>
			</span>
			<if:else />
			<span class="minitext">
				<core:date format="%b %d %y">{$created}</core:date>&nbsp;<span class="date_color"><core:date format="%I:%M%p">{$created}</core:date></span>
				<br />
				{$L_BY}&nbsp;<a href="member.php?id={$poster_id}" style="text-decoration: underline;" title="{$poster_name}">{$poster_name}</a>
				<a href="viewtopic.php?id={$id}" title="{$name}"><img src="Images/{$IMG_DIR}/Icons/icon_latest_reply.gif" border="0" alt="{$name}" /></a>
			</span>
			</if:if>
		</td>
	</tr>
	</list:item>
	</list:list>
</table>
<page:navigator id="topics_pager">
<div style="float: right;">
	<table cellpadding="0" cellspacing="1" border="0" class="forum_content">
		<tr>
			<td><span class="smalltext">{$L_PAGE}</span></td>
			<page:first><td class="alt2"><page:link><span class="smalltext">{$L_FIRST}</span></page:link></td></page:first>
			<page:prev><td class="alt2"><page:link><span class="smalltext">{$L_PREV}</span></page:link></td></page:prev>
			<page:list id="topics_pager" before="3" after="3">
			<list:item list="topics_pager">
				<td class="alt1"><page:link class="pager_link"><span class="smalltext">{$pagenum}</span></page:link></td>
			</list:item>
			</page:list>
			<page:next><td class="alt2"><page:link><span class="smalltext">{$L_NEXT}</span></page:link></td></page:next>
			<page:last><td class="alt2"><page:link><span class="smalltext">{$L_LAST}</span></page:link></td></page:last>
		</tr>
	</table>
</div>
</page:navigator>
<div align="left">
	<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_topic.gif" alt="{$L_POSTTOPIC}" /></a></maps:if>
	<maps:if list="forums" var="topics" forum="id" method="can_add"><a href="newtopic.php?id={$forum_id}&amp;poll=1" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/{$LANG}/post_poll.gif" alt="{$L_POSTPOLL}" /></a></maps:if>
</div>
<!-- / Topics List of '{$current_location}' -->

<br />
<!-- Forum Display Options -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">
		<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapsedo_{$forum_id}', 'do_{$forum_id}')" title="{$L_EXPANDCOLLAPSE}"><img id="collapsedo_{$forum_id}" src="Images/{$IMG_DIR}/Icons/collapse_thead.gif" alt="{$L_EXPANDCOLLAPSE}" border="0" /></a></div>
		{$L_DISPLAYOPTIONS}
		</td>
	</tr>
	<tbody id="do_{$forum_id}">
		<tr class="alt1">
			<td>
				<table width="" cellpadding="0" cellspacing="0" border="0">
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Open Topic (new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/announce.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">{$L_ANNOUNCEMENT}&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/folder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Open Topic (no new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/poll.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Poll&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/newhotfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Hot Topic (new replies)&nbsp;</td>
						<td><img src="Images/{$IMG_DIR}/Icons/Status/lockfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Locked Topic&nbsp;</td>
					</tr>
					<tr> 
						<td><img src="Images/{$IMG_DIR}/Icons/Status/hotfolder.gif" alt="" border="0" /></td>
						<td nowrap="nowrap" class="smalltext">Hot Topic (no new replies)&nbsp;</td>
					</tr>
				</table>
			</td>
			<td width="80%">
				<div align="right">
					<form action="viewforum.php" method="get" enctype="multipart/form-data">
						<input type="hidden" name="id" value="{$forum_id}" />
						<input type="hidden" name="start" value="{$pag_start}" />
						<table cellpadding="0" cellspacing="1" border="0">
							<tr>
								<td class="smalltext">{$L_SORTEDBY}:</td>
								<td>
									<select name="sort" style="width:125px" class="smalltext">
										<option value="name">{$L_TOPICTITLE}</option>
										<option value="reply_time" selected="selected">{$L_LASTPOSTTIME}</option>
										<option value="num_replies" >{$L_NUMOFREPLIES}</option>
										<option value="views" >{$L_NUMOFVIEWS}</option>
										<option value="poster_name" >{$L_TOPICSTARTER}</option>
										<option value="rating" >{$L_TOPICRATING}</option>
									</select>
								</td>
								<td class="smalltext">{$L_SORTORDER}:</td>
								<td>
									<select name="order" style="width:100px" class="smalltext">
										<option value="ASC">{$L_ASC}</option>
										<option value="DESC" selected="selected">{$L_DESC}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="smalltext">{$L_FROMTHE}:</td>
								<td>
									<select name="daysprune" style="width:125px" class="smalltext">
										<option value="1" >{$L_LAST_DAY}</option>
										<option value="2" >{$L_LAST_2_DAYS}</option>
										<option value="7" >{$L_LAST_WEEK}</option>
										<option value="10" >{$L_LAST_10_DAYS}</option>
										<option value="14" >{$L_LAST_2_WEEKS}</option>
										<option value="30" >{$L_LAST_MONTH}</option>
										<option value="45" >{$L_LAST_45_DAYS}</option>
										<option value="60" >{$L_LAST_2_MONTHS}</option>
										<option value="75" >{$L_LAST_75_DAYS}</option>
										<option value="100" >{$L_LAST_100_DAYS}</option>
										<option value="365" >{$L_LAST_YEAR}</option>
										<option value="-1" selected="selected">{$L_BEGINNING}</option>
									</select>
								</td>
								<td class="smallfont">
									{$L_LIMIT}: 
									<select name="limit" class="smalltext">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30" selected="selected">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
									</select>
								</td>
								<td><input type="submit" class="button" value="{$L_SHOWTOPICS}" style="width:100px" /></td>
							</tr>
						</table>
					</form>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Forum Display Options -->

<!-- Forum User Posting Options -->
<br />
<div class="minitext" align="right">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td valign="top">
				{$forum_user_reply_options}
			</td>
			<td>&nbsp;&nbsp;</td>
			<td valign="top">
				{$forum_user_topic_options}
			</td>
		</tr>
	</table>
</div>
<!-- / Forum User Posting Options -->