<is:unlogged>
<!-- Login Form -->
<form:form id="login_form" name="login_form" action="member.php?act=login_user" method="post" enctype="multipart/form-data">
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">{$L_LOGIN}</td>
	</tr>
	<tr class="panel">
		<td width="50%"><label for="name">{$L_USERNAME}</label></td>
		<td width="50%"><input type="text" name="name" id="username" class="inputbox" maxlength="{$maxuserlength}" value="" /></td>
	</tr>
	<tr class="panel">
		<td width="50%"><label for="pass">{$L_PASSWORD}</label></td>
		<td width="50%"><input type="password" name="pass" id="password" class="inputbox" maxlength="{$maxuserlength}" value="" /></td>
	</tr>
	<tr class="tcat">
		<td width="50%"><input type="submit" class="button" value="{$L_LOGIN}" /><input type="reset" class="button" value="{$L_RESET}" /></td>
		<td width="50%"><input type="checkbox" class="button" name="rememberme" id="rememberme" checked="checked" value="" /><label for="rememberme">&nbsp;{$L_REMEMBERME}</label></td>
	</tr>
	<tr class="panel">
		<td colspan="2" align="center" style="padding: 3px 0px 0px 0px; ">
			<a href="member.php?act=forgotpw" title="{$L_FORGOTPW}">{$L_FORGOTPW}</a>
			<h4><a href="member.php?act=register" title="{$L_REGISTER}" class="">{$L_REGISTER}</a></h4>
		</td>
	</tr>
</table>
</form:form>
<!-- / Login Form -->
</is:unlogged>