<core:block id="subforums" hidden="yes">
<div class="forum_content">
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr class="thead">
		<td colspan="5" align="left">{$L_SUBFORUMS}: <span style="font-weight: normal;">{$current_location}</span></td>
	</tr>
	<tr class="tcat">
		<td>&nbsp;</td>
		<td align="center" class="minitext">{$L_NAME}</td>
		<td align="center" class="minitext">&nbsp;{$L_POSTS}&nbsp;</td>
		<td align="center" class="minitext">&nbsp;{$L_TOPICS}&nbsp;</td>
		<td align="center" class="minitext">{$L_LASTPOST}</td>
	</tr>
	<list:list id="subforums">
		<tbody>
		<list:item list="subforums">
		<maps:if list="forums" forum="id" method="view">
		<if:if var="is_forum" eq="1">
		<tr class="panel">
			<td width="5%" align="center"><img src="Images/{$IMG_DIR}/Icons/forum_{$forum_icon}.gif" alt="{$forum_alt}" height="28" width="28" border="0" /></td>
			<td width="60%">
				<a href="viewforum.php?id={$id}" title="{$description}"><strong>{$name}</strong></a>
				<!--<if:if var="num_viewing" greater="0"><span class="smalltext">({$num_viewing} {$L_VIEWING})</span></if:if>-->
				<br />
				<span class="minitext">
				{$description}
				<if:if var="subforums" eq="1">
				<br /><br />
				<strong>{$L_SUBFORUMS}:</strong>
				<list:sublist list="forums" id="subforums" column="subforums">
					<list:item list="subforums">
					<img src="Images/{$IMG_DIR}/Icons/forum_{$forum_icon}_small.gif" alt="{$forum_alt}" height="11" width="11" border="0" />
					<a href="viewforum.php?id={$id}" title="{$description}">{$name}</a>
					<list:separator list="subforums">,</list:separator>
					</list:item>
				</list:sublist>
				</if:if>
				</span>
			</td>
			<td align="center" class="alt1">{$posts}</td>
			<td align="center" class="alt1">{$topics}</td>
			<td class="minitext" nowrap="nowrap" align="center" width="30%">
				<if:if var="post_id" greater="0">
				<a href="viewtopic.php?id={$post_id}" title="{$post_name}"><strong>{$post_name}</strong></a>
				<br />
				{$L_BY} <a href="member.php?id={$post_uid}" title="{$post_uname}"><strong>{$post_uname}</strong></a>&nbsp;{$L_ON}&nbsp;{$post_created}
				<if:else />
				--
				</if:if>
			</td>
		</tr>
		</if:if>
		<if:if var="is_link" eq="1">
		<tr class="panel">
			<td width="5%" align="center"><img src="Images/{$IMG_DIR}/Icons/forum_link.gif" alt="{$forum_alt}" title="{$forum_alt}" height="28" width="28" border="0" /></td>
			<if:if var="link_show_redirects" eq="1">
			<td width="60%"><a href="redirect.php?id={$id}" title="{$name}"><strong>{$name}</strong></a><br /><span class="minitext">{$description}<br />{$sub_forums}</span></td>
			<td align="center" class="alt1" colspan="3"><span class="smalltext">{$L_REDIRECTS}: {$link_redirects}</span></td>
			</if:if>
			<if:if var="link_show_redirects" eq="0">
			<td width="95%" colspan="4"><a href="{$link_href}" target="_blank"><strong>{$name}</strong></a><br /><span class="minitext">{$description}<br />{$sub_forums}</span></td>
			</if:if>
		</tr>
		</if:if>
		</maps:if>
		</list:item>
	</tbody>
	</list:list>
</table>
</div>
<br />
</core:block>

<!-- Topics List -->
<div align="left">
	<a href="" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
	<a href="" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/post_poll.gif" alt="{$L_POSTPOLL}" /></a>
</div>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<thead>
	<tr class="thead">
		<td colspan="7" align="left">
			{$L_TOPICSINFORUM}: <span style="font-weight: normal;">{$name}</span>
		</td>
	</tr>
	<tr class="tcat">
		<td colspan="2">&nbsp;</td>
		<td align="center" class="minitext"><a href="viewforum.php?id={$forum_id}&amp;sort=name&amp;order={$order}" title="{$L_TOPICS}">{$L_TOPICS}{$name_sort}</a></td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=num_replies&amp;order={$order}" title="{$L_REPLIES}">{$L_REPLIES}{$num_replies_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=poster_name&amp;order={$order}" title="{$L_AUTHOR}">{$L_AUTHOR}{$poster_name_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=views&amp;order={$order}" title="{$L_VIEWS}">{$L_VIEWS}{$views_sort}</a>&nbsp;</td>
		<td align="center" class="minitext" nowrap="nowrap">&nbsp;<a href="viewforum.php?id={$forum_id}&amp;sort=last_reply&amp;order={$order}" title="{$L_LASTPOST}">{$L_LASTPOST}{$last_reply_sort}</a>&nbsp;</td>
	</tr>
	</thead>
	<tbody id="forumTblBody">
		<list:list id="topics">
		<list:item list="topics">
		<tr class="panel">
			<td><img src="{$topic_icon}" alt="" border="0" /></td>
			<td><img src="Images/{$IMG_DIR}/Icons/PostIcons/{$icon}" alt="" border="0" /></td>
			<td width="60%">{$name}{$pages}{$rating}</td>
			<td align="center" class="alt1">{$num_children}</td>
			<td align="center" class="alt2"><a href="member.php?id={$poster_id}" title="{$poster_name}"><strong>{$poster_name}</strong></a></td>
			<td align="center" class="alt1">{$views}</td>
			<td align="center" class="alt2" nowrap="nowrap"><span class="minitext">{$last_reply}<br />{$L_BY}&nbsp;<a href="member.php?id={$reply_uid}" style="text-decoration: underline;" title="{$reply_uname}">{$reply_uname}</a></span></td>
		</tr>
		</list:item>
		</list:list>
	</tbody>
</table>
<div align="left">
	<a href="" title="{$L_POSTTOPIC}"><img border="0" src="Images/{$IMG_DIR}/Buttons/post_topic.gif" alt="{$L_POSTTOPIC}" /></a>
	<a href="" title="{$L_POSTPOLL}"><img border="0" src="Images/{$IMG_DIR}/Buttons/post_poll.gif" alt="{$L_POSTPOLL}" /></a>
</div>
<!-- / Topics List -->

<br />
<!-- Forum Display Options -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">{$L_DISPLAYOPTIONS}</td>
	</tr>
	<tr class="alt1">
		<td>
			<table width="" cellpadding="0" cellspacing="0" border="0">
				<tr> 
					<td><img src="Images/{$IMG_DIR}/Icons/Status/newfolder.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Open Topic (new replies)&nbsp;</td>
					<td><img src="Images/{$IMG_DIR}/Icons/Status/announce.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">{$L_ANNOUNCEMENT}&nbsp;</td>
					<!--<td nowrap><img src="Images/{$IMG_DIR}/Icons/Status/f_sticky.gif" alt="" border="0" /></td>-->
					<!--<td nowrap>Sticky</td>-->
				</tr>
				<tr> 
					<td><img src="Images/{$IMG_DIR}/Icons/Status/folder.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Open Topic (no new replies)&nbsp;</td>
					<td><img src="Images/{$IMG_DIR}/Icons/Status/poll.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Poll&nbsp;</td>
					<!--<td nowrap><img src="Images/{$IMG_DIR}/Icons/Status/f_announce.gif"></td>-->
					<!--<td nowrap>Announcement</td>-->
				</tr>
				<tr> 
					<td><img src="Images/{$IMG_DIR}/Icons/Status/newhotfolder.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Hot Topic (new replies)&nbsp;</td>
					<td><img src="Images/{$IMG_DIR}/Icons/Status/lockfolder.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Locked Topic&nbsp;</td>
					<!--<td nowrap><img src="Images/{$IMG_DIR}/Icons/Status/f_pinned.gif" alt="" border="0" /></td>-->
					<!--<td nowrap>Pinned</td>-->
				</tr>
				<tr> 
					<td><img src="Images/{$IMG_DIR}/Icons/Status/hotfolder.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">Hot Topic (no new replies)&nbsp;</td>
					<td><img src="Images/{$IMG_DIR}/Icons/Status/sticky.gif" alt="" border="0" /></td>
					<td nowrap="nowrap" class="smalltext">{$L_STICKY}&nbsp;</td>
					<!--<td nowrap>&nbsp;</td>-->
					<!--<td nowrap>&nbsp;</td>-->
				</tr>
			</table>
		</td>
		<td width="80%">
			<form action="viewforum.php" method="get" enctype="multipart/form-data">
				<!--
				{$L_SHOW}
				<input type="hidden" name="id" value="{$forum_id}" />
				<input type="hidden" name="start" value="{$pag_start}" />
				<select name="limit" class="smallfont">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50" selected="selected">50</option>
					<option value="100">100</option>
				</select>
				{$L_PERPAGE}
				<input type="submit" value="{$L_GO}" />
				-->
				<input type="hidden" name="id" value="{$forum_id}" />
				<input type="hidden" name="start" value="{$pag_start}" />
				<table cellpadding="0" cellspacing="1" border="0" width="100%">
					<tr>
						<td class="smalltext">{$L_SORTEDBY}:</td>
						<td>
							<select name="sort" style="width:125px" class="smalltext">
								<option value="name" >{$L_TOPICTITLE}</option>
								<option value="last_reply" selected="selected">{$L_LASTPOSTTIME}</option>
								<option value="num_replies" >{$L_NUMOFREPLIES}</option>
								<option value="views" >{$L_NUMOFVIEWS}</option>
								<option value="poster_name" >{$L_TOPICSTARTER}</option>
								<option value="rating" >{$L_TOPICRATING}</option>
							</select>
						</td>
						<td class="smalltext">{$L_SORTORDER}:</td>
						<td>
							<select name="order" style="width:100px" class="smalltext">
								<option value="ASC" >{$L_ASC}</option>
								<option value="DESC" selected="selected">{$L_DESC}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="smalltext">{$L_FROMTHE}:</td>
						<td>
							<select name="daysprune" style="width:125px" class="smalltext">
								<option value="1" >{$L_LAST_DAY}</option>
								<option value="2" >{$L_LAST_2_DAYS}</option>
								<option value="7" >{$L_LAST_WEEK}</option>
								<option value="10" >{$L_LAST_10_DAYS}</option>
								<option value="14" >{$L_LAST_2_WEEKS}</option>
								<option value="30" >{$L_LAST_MONTH}</option>
								<option value="45" >{$L_LAST_45_DAYS}</option>
								<option value="60" >{$L_LAST_2_MONTHS}</option>
								<option value="75" >{$L_LAST_75_DAYS}</option>
								<option value="100" >{$L_LAST_100_DAYS}</option>
								<option value="365" >{$L_LAST_YEAR}</option>
								<option value="-1" selected="selected">{$L_BEGINNING}</option>
							</select>
						</td>
						<td class="smallfont">
							{$L_LIMIT}: 
							<select name="limit" class="smalltext">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30" selected="selected">30</option>
								<option value="40">40</option>
								<option value="50">50</option>
							</select>
						</td>
						<td><input type="submit" class="button" value="{$L_SHOWTOPICS}" style="width:100px" /></td>
					</tr>
					</table>
			</form>
		</td>
	</tr>
</table>
<!-- / Forum Display Options -->