<?php if($context->getVar('forum_forum_rules') != ''): ?>
<!-- Forum Rules -->
<div class="forumrules">
<strong style="color:#FF0000;"><?php echo $context->getVar("L_FORUMRULES"); ?>:</strong>
<br /><br />
<?php echo $context->getVar("forum_forum_rules"); ?>
</div>
<!-- / Forum Rules -->
<br />
<?php endif; ?>
<?php if ($file = $template->getFile("drafts", "")):  $template->setFilename($file);  $template->render(); endif; ?>
<?php if ($file = $template->getFile("preview", "")):  $template->setFilename($file);  $template->render(); endif; ?>
<form name="posttopic_form" id="pottopic_form" action="<?php echo $context->getVar("newtopic_action"); ?>" method="post" enctype="multipart/form-data" onsubmit="return checkForm(this);" onreset="resetErrors();"><script type="text/javascript">resetErrors();</script>
<input type="hidden" name="forum_id" value="<?php echo $context->getVar("forum_id"); ?>" />
<script type="text/javascript">
// <!--

function showTable(Id) {
	var the_tr = document.getElementById(Id);
	if(the_tr.style.display == 'block')
		return the_tr.style.display = 'none';
	else
		return the_tr.style.display = 'block';
}
function swap_posticon(imgid) {
	var out = document.getElementById("display_posticon");
	var img	= document.getElementById(imgid);
	if (img) {
		out.src = img.src;
		out.alt = img.alt;
	} else {
		out.src = "tmp/upload/posticons/clear.gif";
		out.alt = "";
	}
}
function emoticon(typed) {
	var editor	= document.getElementById('messagecodex');
	editor.value += ' ' + typed;
}

<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['bbcode']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['bbcode']['can_add'] <= $context->session['user']->info['perms'])): ?>
/****************************
 * BBCode Control front-end *
 * By Peter Goodman         *
 ****************************/
<?php if ($file = $template->getFile("bbcode", "bbcode.js")):  $template->setFilename($file);  $template->render(); endif; ?>
<?php endif; ?>
// -->
</script>
<input type="hidden" name="forum_id" value="<?php echo $context->getVar("forum_id"); ?>" />
<?php if ($template->isVisible('topic_id', FALSE)): ?><input type="hidden" name="topic_id" value="<?php echo $context->getVar("topic_id"); ?>" /><?php endif; ?>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<?php if ($template->isVisible('post_topic', TRUE)): ?>
	<tr class="thead" colspan="2">
		<td colspan="2">
			<div style="float:right;" class="smalltext">
				<strong><?php echo $context->getVar("L_FORUM"); ?>:</strong>
				<a href="viewforum.php?id=<?php echo $context->getVar("forum_id"); ?>" class="smalltext" style="font-weight: normal;" title="<?php echo $context->getVar("forum_name"); ?>"><?php echo $context->getVar("forum_name"); ?></a>
				</div>
			<?php echo $context->getVar("L_POSTTOPIC"); ?>
		</td>
	</tr>
	<?php endif; ?>
	<?php if ($template->isVisible('edit_post', FALSE)): ?>
	<tr class="thead" colspan="2">
		<td colspan="2"><?php echo $context->getVar("L_EDITPOST"); ?> : <span style="font-weight: normal;"><?php echo $context->getVar("topic_name"); ?></span><input type="hidden" name="post_id" value="<?php echo $context->getVar("post_id"); ?>" /></td>
	</tr>
	<?php endif; ?>
	<tr class="panel">
		<td colspan="2" align="center">
			
			<!-- Main Posting Inputs -->
			<div class="outset_box" align="left">
				<span class="smalltext" style="float: right;">
					<?php echo $context->getVar("L_LOGGEDAS"); ?>
					<?php if (is_a($context->session['user'], 'Member')): ?>
					<a href="member.php?id=<?php echo $context->getVar("user_id"); ?>" style="text-decoration: underline;"><?php echo $context->getVar("user_name"); ?></a>
					<?php else: ?>
					<strong><?php echo $context->getVar("L_GUEST"); ?></strong>
					<?php endif; ?>
				</span>
				<table border="0" cellpadding="0" cellspacing="0">
					<?php if (!is_a($context->session['user'], 'Member')): ?>
					<tr>
						<td>
							<!-- Poster Name -->
							<label for="<?php echo $context->getVar("L_YOURNAME"); ?>" class="smalltext"><?php echo $context->getVar("L_YOURNAME"); ?></label><br />
							<input type="text" name="poster_name" id="poster_name" value="<?php echo $context->getVar("poster_name"); ?>" size="<?php echo $context->getVar("maxuserlength"); ?>" class="inputbox" maxlength="<?php echo $context->getVar("maxuserlength"); ?>" />
							<!-- / Poster Name -->
						</td>
						<td valign="bottom">
							<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
						</td>
					</tr>
					<?php endif; ?>
					<tr>
						<td>
							<!-- Post Title -->
							<label for="name" class="smalltext"><?php echo $context->getVar("L_POSTTITLE"); ?></label><br />
							<input type="text" name="name" id="name" value="<?php echo $context->getVar("topic_name"); ?>" style="width: 500px;" class="inputbox" maxlength="255" />
							<script type="text/javascript">addVerification('name', '.+', 'name_error', 'inputfailed');</script><div id="name_error" style="display: none;"><?php echo $context->getVar("L_INSERTTOPICNAME"); ?></div>
							<!-- / Post Title -->
						</td>
						<td valign="bottom">
							<img id="display_posticon" src="tmp/upload/posticons/clear.gif" alt="" />
						</td>
					</tr>
					<tr>
						<td>
							<br />
							<!-- Post Message -->
							<label for="messagecodex" class="smalltext"><?php echo $context->getVar("L_POST"); ?></label><br />
							<?php if($context->getVar('allowbbcode') == 1): ?>
								<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['bbcode']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['bbcode']['can_add'] <= $context->session['user']->info['perms'])): ?>
									<script type="text/javascript">
										try { bbcodex_init('message', 'message', 10, 100, 'bbcode_button'); } catch(e) { alert(e.message); }
									</script>
								<?php else: ?>
							<?php endif; ?>
							<textarea name="message" id="messagecodex" class="inputbox" rows="10" cols="100" wrap="SOFT" style="width: 500px;"><?php echo $context->getVar("topic_body_text"); ?></textarea>
							<script type="text/javascript">addVerification('messagecodex', '(\\\n|.)+', 'messagecodex_error', 'inputfailed');</script><div id="messagecodex_error" style="display: none;"><?php echo $context->getVar("L_INSERTTOPICMESSAGE"); ?></div>
							<!-- / Post Message -->

						</td>
						<td valign="bottom">
							<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['emoticons']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['emoticons']['can_add'] <= $context->session['user']->info['perms'])): ?>
							<?php if ($context->listReset("emoticons")): ?>
							
							<!-- Emoticons -->
							<table border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<fieldset>
											<legend><?php echo $context->getVar("L_EMOTICONS"); ?></legend>
											<table cellpadding="3" cellspacing="1" border="0" id="posticons">
												<tr>
													<?php while($context->push($context->listNext("emoticons"))): ?>
													<td align="center">
														<a href="javascript:emoticon('<?php echo $context->getVar("typed"); ?>')" title="<?php echo $context->getVar("description"); ?>"><img src="tmp/upload/emoticons/<?php echo $context->getVar("image"); ?>" alt="<?php echo $context->getVar("description"); ?>" border="0" /></a>
													</td>
													<?php if (is_object($list = &$context->getList("emoticons")) && $list->hasNext()): ?>
														<?php if ($context->listKey("emoticons") % $context->getVar("emoticons_per_row") == $context->getVar("emoticons_per_row_remainder")): ?>
															</tr><tr>
														<?php endif; ?>
													<?php endif; ?>
													<?php $context->pop(); endwhile; ?>
												</tr>	
											</table>
										</fieldset>
									</td>
								</tr>
							</table>
							<!-- / Emoticons -->

							<?php endif; ?>
							<?php endif; ?>
						</td>
					</tr>
					<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['posticons']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['posticons']['can_add'] <= $context->session['user']->info['perms'])): ?>
					<tr>
						<td colspan="2">
							<?php if ($context->listReset("posticons")): ?>
							
							<!-- Post Icons -->
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td>
										<fieldset>
											<legend><?php echo $context->getVar("L_POSTICONS"); ?></legend>
											<span class="smalltext"><?php echo $context->getVar("L_POSTICONSPOSTCHOOSE"); ?></span>
											<label for="noicon" style="float: left;margin-top: 10px;"><input type="radio" name="posticon" id="noicon" value="clear.gif" checked="checked" onclick="swap_posticon(null)" />&nbsp;<?php echo $context->getVar("L_NOICON"); ?></label>
											<table cellpadding="3" cellspacing="1" border="0" id="posticons">
												<tr>
													<?php while($context->push($context->listNext("posticons"))): ?>
													<td align="center">
														<label for="pi<?php echo $context->getVar("id"); ?>">
															<input type="radio" name="posticon" id="pi<?php echo $context->getVar("id"); ?>" value="<?php echo $context->getVar("image"); ?>" style="float: left;padding-right: 5px;" onclick="swap_posticon('pi_<?php echo $context->getVar("id"); ?>')" />&nbsp;&nbsp;<img src="tmp/upload/posticons/<?php echo $context->getVar("image"); ?>" alt="<?php echo $context->getVar("description"); ?>" id="pi_<?php echo $context->getVar("id"); ?>" style="margin-right:15px;" />
														</label>
													</td>
													<?php if (is_object($list = &$context->getList("posticons")) && $list->hasNext()): ?>
														<?php if ($context->listKey("posticons") % 7 == 6): ?>
															</tr><tr>
														<?php endif; ?>
													<?php endif; ?>
													<?php $context->pop(); endwhile; ?>
												</tr>	
											</table>
										</fieldset>
									</td>
								</tr>
							</table>
							<!-- / Post Icons -->

							<?php endif; ?>
						</td>
					</tr>
					<?php endif; ?>
				</table>
			</div>
			<!-- / Main Posting Inputs -->

		</td>
	</tr>
	<tr class="tcat">
		<td align="left" colspan="2">
			<input type="submit" name="submit" class="button" value="<?php echo $context->getVar("L_SUBMIT"); ?>" accesskey="s" />
			<?php if ($template->isVisible('save_draft', TRUE)): ?>
			<?php if (is_a($context->session['user'], 'Member')): ?>
				<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['post_save']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['post_save']['can_add'] <= $context->session['user']->info['perms'])): ?>
					<input type="submit" name="submit" class="button" value="<?php echo $context->getVar("L_SAVEDRAFT"); ?>" />
				<?php endif; ?>
			<?php endif; ?>
			<?php endif; ?>
			<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['post_preview']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['post_preview']['can_add'] <= $context->session['user']->info['perms'])): ?>
				<input type="submit" name="submit" class="button" value="<?php echo $context->getVar("L_PREVIEW"); ?>" />
			<?php endif; ?>
			<?php if ($template->isVisible('load_button', FALSE)): ?>
			<input type="button" class="button" value="<?php echo $context->getVar("L_LOADDRAFT"); ?>" onclick="document.location='newtopic.php?id=<?php echo $context->getVar("forum_id"); ?>&load_drafts=1'" />
			<?php endif; ?>
			<input type="reset" class="button" value="<?php echo $context->getVar("L_RESET"); ?>" />
		</td>
	</tr>
</table>
<br />

<!-- Additional Post Options -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td>
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_po', 'postoptions')" title="<?php echo $context->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_po" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Icons/collapse_thead.gif" alt="<?php echo $context->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div>
			<?php echo $context->getVar("L_ADDITIONALOPTIONS"); ?>
		</td>
	</tr>
	<tbody id="postoptions">
		<tr class="panel">
			<td>
				<div class="outset_box">
					<fieldset>
						<legend><?php echo $context->getVar("L_MISCOPTIONS"); ?></legend>
						<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add'] <= $context->session['user']->info['perms'])): ?><input type="checkbox" name="disable_html" id="disable_html" checked="checked" />&nbsp;<label for="disable_html"><?php echo $context->getVar("L_DISABLEHTML"); ?></label><br /><?php endif; ?>
						<input type="checkbox" name="disable_bbcode" id="disable_bbcode" />&nbsp;<label for="disable_bbcode"><?php echo $context->getVar("L_DISABLEBBCODE"); ?></label><br />
						<input type="checkbox" name="disable_emoticons" id="disable_emoticons" />&nbsp;<label for="disable_emoticons"><?php echo $context->getVar("L_DISABLEEMOTICONS"); ?></label><br />
						<input type="checkbox" name="disable_aurls" id="disable_aurls" />&nbsp;<label for="disable_aurls"><?php echo $context->getVar("L_PARSEURLS"); ?></label><br />
						<input type="checkbox" name="enable_sig" id="enable_sig" checked="checked" />&nbsp;<label for="enable_sig"><?php echo $context->getVar("L_ATTACHSIGNATURE"); ?></label><br />
						<input type="checkbox" name="disable_areply" id="disable_areply" />&nbsp;<label for="disable_areply"><?php echo $context->getVar("L_NOTIFYONREPLY"); ?></label>
					</fieldset>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Additional Post Options -->

<?php endif; ?>
<br />
<!-- Posting Code Allowances -->
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
	<tr class="thead">
		<td colspan="2">
			<div style="float: right;"><a href="javascript:;" onclick="return collapse_tbody('collapse_pr', 'postingrules')" title="<?php echo $context->getVar("L_EXPANDCOLLAPSE"); ?>"><img id="collapse_pr" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Icons/collapse_thead.gif" alt="<?php echo $context->getVar("L_EXPANDCOLLAPSE"); ?>" border="0" /></a></div>
			<?php echo $context->getVar("L_POSTINGRULES"); ?></td>
	</tr>
	<tbody id="postingrules">
		<tr class="panel">
			<td valign="top">
				<div align="left" class="minitext">
					<?php echo $context->getVar("posting_code_options"); ?>
				</div>
			</td>
			<td valign="top">
				<div align="right" class="minitext">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td valign="top">
								<?php echo $context->getVar("forum_user_reply_options"); ?>
							</td>
							<td>&nbsp;&nbsp;</td>
							<td valign="top">
								<?php echo $context->getVar("forum_user_topic_options"); ?>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / Posting Code Allowances -->

<?php if ($template->isVisible('edit_topic', FALSE)): ?>
<!-- Edit Topic Javascript -->
<script type="text/javascript">
	// <!-- 

	/**
	 * Get the main posting options
	 */
	
	try {
		<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add'] <= $context->session['user']->info['perms'])): ?>var disable_html			= document.getElementById('disable_html');<?php endif; ?>
		var disable_bbcode			= document.getElementById('disable_bbcode');
		var disable_emoticons		= document.getElementById('disable_emoticons');
		var disable_aurls			= document.getElementById('disable_aurls');
		var enable_sig				= document.getElementById('enable_sig');
		var disable_areply			= document.getElementById('disable_areply');
		
		<?php if(TRUE && (isset($context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add']) && $context->session['user']->info['maps']['forums'][$context->getVar('forum_id')]['html']['can_add'] <= $context->session['user']->info['perms'])): ?>disable_html.checked		= (<?php echo $context->getVar("topic_disable_html"); ?> == 1) ? true : false;<?php endif; ?>
		disable_bbcode.checked		= (<?php echo $context->getVar("topic_disable_bbcode"); ?> == 1) ? true : false;
		disable_emoticons.checked	= (<?php echo $context->getVar("topic_disable_emoticons"); ?> == 1) ? true : false;
		disable_aurls.checked		= (<?php echo $context->getVar("topic_disable_aurls"); ?> == 1) ? true : false;
		enable_sig.checked			= (<?php echo $context->getVar("topic_disable_sig"); ?> == 1) ? false : true;
		disable_areply.checked		= (<?php echo $context->getVar("topic_disable_areply"); ?> == 1) ? true : false;
	
	} catch(e) {
		alert(e.message);
	}


	/**
	 * Get the post icons
	 */
	for (var i = 0; i < sizeof(document.forms[0].radios.length); i++) {
		if(document.forms[0].radios[i].name == 'posticon') {
			if(document.forms[0].radios[i].value == '<?php echo $context->getVar("topic_posticon"); ?>') {
				document.forms[0].radios[i].checked = true;
			} else {
				document.forms[0].radios[i].checked = false;
			}
		}
	}

	// -->
</script>
<!-- / Edit Topic Javascript -->
<?php endif; ?></form>