<!-- Post Review -->
	<tr class="panel">
		<td width="20%" class="alt1">
			<div align="center">
				<?php if($context->getVar('poster_id') > 0): ?>
				<strong style="color: #<?php echo $context->getVar("post_user_group_color"); ?>"><?php echo $context->getVar("poster_name"); ?></strong>
				<?php else: ?>
				<strong><?php if($context->getVar('poster_name') == ''):  echo $context->getVar("L_GUEST");  else:  echo $context->getVar("poster_name");  endif; ?></strong>
				<?php endif; ?>
			</div>
		</td>
		<td width="80%">
			<div style="float: right" class="smalltext">
				<?php ob_start(); $format = "%b %d %y";  echo $context->getVar("created");  $date = ob_get_contents(); ob_end_clean(); echo strftime($format, intval(bbtime($date))); ?>&nbsp;<span class="date_color"><?php ob_start(); $format = "%I:%M%p";  echo $context->getVar("created");  $date = ob_get_contents(); ob_end_clean(); echo strftime($format, intval(bbtime($date))); ?></span>
			</div>
			<div class="smalltext">
				<strong><?php echo $context->getVar("L_POSTSUBJECT"); ?>:</strong> <?php echo $context->getVar("name"); ?>&nbsp;<img src="tmp/upload/posticons/<?php echo $context->getVar("posticon"); ?>" alt="" border="0" />
			</div>
		</td>
	</tr>
	<tr class="panel">
		<td width="20%" valign="top" rowspan="2" class="alt1">
			<div class="smalltext">
			<?php if($context->getVar('poster_id') > 0): ?>
				<?php if($context->getVar('post_user_avatar') != ''): ?>
				<img src="images.php?avatar=<?php echo $context->getVar("poster_id"); ?>" alt="" border="" />
				<br /><br />
				<?php endif; ?>
				<?php echo $context->getVar("post_user_group_nicename"); ?><br />
				<?php if($context->getVar('post_user_group_avatar') != ''): ?>
				<img src="tmp/upload/group_avatars/<?php echo $context->getVar("post_user_group_avatar"); ?>" border="0" alt="<?php echo $context->getVar("post_user_group_nicename"); ?>" />
				<br /><br />
				<?php endif; ?>
				<strong><?php echo $context->getVar("L_JOINED"); ?>:</strong> <?php ob_start(); $format = "%b %d %y";  echo $context->getVar("post_user_created");  $date = ob_get_contents(); ob_end_clean(); echo strftime($format, intval(bbtime($date))); ?><br />
				<strong><?php echo $context->getVar("L_POSTS"); ?>:</strong> <?php echo $context->getVar("post_user_num_posts"); ?>
				<?php if($context->getVar('user_location') != ''): ?>
				<br /><strong><?php echo $context->getVar("L_LOCATION"); ?>:</strong> <?php echo $context->getVar("post_user_location"); ?>
				<?php endif; ?>
			<?php endif; ?>
			</div>
		</td>
		<td width="80%" id="topic<?php echo $context->getVar("id"); ?>" valign="top" style="height: 100px;">
			<?php echo $context->getVar("body_text"); ?>
			<textarea name="reverted_body_text" id="body_text<?php echo $context->getVar("id"); ?>" style="display: none;"><?php echo $context->getVar("reverted_body_text"); ?></textarea>
			<?php if($context->getVar('disable_sig') == 0): ?>
			<?php if($context->getVar('post_user_signature') != ''): ?>
			<br />
			_________________
			<?php echo $context->getVar("post_user_signature"); ?>
			<?php endif; ?>
			<?php endif; ?>
		</td>
	</tr>
	<tr class="panel">
		<td class="alt1">
			<div align="right"><a href="javascript:;" onclick="add_review_quote('<?php if($context->getVar('poster_name') == ''):  echo $context->getVar("L_GUEST");  else:  echo $context->getVar("poster_name");  endif; ?>', 'body_text<?php echo $context->getVar("id"); ?>', 'messagecodex')" title="<?php echo $context->getVar("L_QUOTE"); ?>"><img src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Buttons/<?php echo $context->getVar("LANG"); ?>/quote.gif" border="0" alt="<?php echo $context->getVar("L_QUOTE"); ?>" /></a></div>
		</td>
	</tr>
<!-- / Post Review -->