<!-- Posting Buttons -->
<div align="left">
	<?php if(!isset($_MAPS)) global $_MAPS; if(TRUE && (isset($_MAPS['forums'][$context->getVar('topic_forum_id')]['topics']['can_add']) && $_MAPS['forums'][$context->getVar('topic_forum_id')]['topics']['can_add'] <= $context->session['user']->info['perms'])): ?>
	<a href="newtopic.php?id=<?php echo $context->getVar("topic_forum_id"); ?>" title="<?php echo $context->getVar("L_POSTTOPIC"); ?>"><img border="0" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Buttons/<?php echo $context->getVar("LANG"); ?>/post_topic.gif" alt="<?php echo $context->getVar("L_POSTTOPIC"); ?>" /></a>
	<?php if(!isset($_MAPS)) global $_MAPS; if(TRUE && (isset($_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_add']) && $_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_add'] <= $context->session['user']->info['perms'])): ?>
	<a href="newreply.php?id=<?php echo $context->getVar("topic_id"); ?>" title="<?php echo $context->getVar("L_POSTREPLY"); ?>"><img border="0" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Buttons/<?php echo $context->getVar("LANG"); ?>/post_reply.gif" alt="<?php echo $context->getVar("L_POSTREPLY"); ?>" /></a>
	<?php endif; ?>
	<?php endif; ?>
</div>
<!-- / Posting Buttons -->

<?php if ($context->listReset("topic")): ?>
<table width="100%" cellpadding="0" cellspacing="1" border="0" class="forum_content">
<?php while($context->push($context->listNext("topic"))): ?>

<!-- Topic: <?php echo $context->getVar("name"); ?> -->
<?php if ($file = $template->getFile("topic", "topic.html")):  $template->setFilename($file);  $template->render(); endif; ?>
<!-- / Topic: <?php echo $context->getVar("name"); ?> -->

<?php if(!isset($_MAPS)) global $_MAPS; if(TRUE && (isset($_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_view']) && $_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_view'] <= $context->session['user']->info['perms'])): ?>
<?php if ($context->addList("replies", $context->getVar("replies"))): ?>
<?php while($context->push($context->listNext("replies"))): ?>

<!-- Reply: <?php echo $context->getVar("name"); ?> -->
<?php if ($file = $template->getFile("reply", "reply.html")):  $template->setFilename($file);  $template->render(); endif; ?>
<!-- / Reply: <?php echo $context->getVar("name"); ?> -->

<?php $context->pop(); endwhile; ?>
<?php endif; ?>
<?php endif; ?>
<?php $context->pop(); endwhile; ?>
</table>
<?php endif; ?>

<!-- Posting Buttons -->
<div align="left">
	<?php if(!isset($_MAPS)) global $_MAPS; if(TRUE && (isset($_MAPS['forums'][$context->getVar('topic_forum_id')]['topics']['can_add']) && $_MAPS['forums'][$context->getVar('topic_forum_id')]['topics']['can_add'] <= $context->session['user']->info['perms'])): ?>
	<a href="newtopic.php?id=<?php echo $context->getVar("topic_forum_id"); ?>" title="<?php echo $context->getVar("L_POSTTOPIC"); ?>"><img border="0" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Buttons/<?php echo $context->getVar("LANG"); ?>/post_topic.gif" alt="<?php echo $context->getVar("L_POSTTOPIC"); ?>" /></a>
	<?php if(!isset($_MAPS)) global $_MAPS; if(TRUE && (isset($_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_add']) && $_MAPS['forums'][$context->getVar('topic_forum_id')]['replies']['can_add'] <= $context->session['user']->info['perms'])): ?>
	<a href="newreply.php?id=<?php echo $context->getVar("topic_id"); ?>" title="<?php echo $context->getVar("L_POSTREPLY"); ?>"><img border="0" src="Images/<?php echo $context->getVar("IMG_DIR"); ?>/Buttons/<?php echo $context->getVar("LANG"); ?>/post_reply.gif" alt="<?php echo $context->getVar("L_POSTREPLY"); ?>" /></a>
	<?php endif; ?>
	<?php endif; ?>
</div>
<!-- / Posting Buttons -->

<!-- Image Resizer -->
<table width="100%" cellpadding="0" cellspacing="1" border="0">
	<tr>
		<td width="80%" id="ruler"></td>
	</tr>
</table>
<script type="text/javascript">resize_bbimgs('ruler');</script>
<!-- / Image Resizer -->